.col-9
  = form.text_area :body, class: "form-control", placeholder: "Say something...", rows: 3
  %small.text-muted Add photos/videos
  .custom-file
    = form.file_field :attachments, multiple: true, accept: "image/*,video/*", class: "custom-file-input"
    = form.label :attachments, class: "custom-file-label" do
      No attachment selected.
.col-3.d-flex.align-items-center
  = button_tag type: "submit", class: "btn btn-outline-danger btn-block h-75" do
    %h2
      = icon("fas", "paper-plane")
