- @title = "Your Conversations"
.container-fluid
  .row
    .col-4
      .list-group#conversations
        - if @conversations.present?
          - @conversations.each do |conversation|
            = render partial: "partials/conversation", locals: {conversation: conversation}
        - else
          .alert.alert-info
            No past conversations found.
    .col-8
      .card#conversation{data: {"conversation-id": @conversation.id, "me": current_user.id}}
        .card-header.d-flex.justify-content-center
          - if @conversation.type == "SelfConversation"
            - @name = current_user.full_name + " (You)"
          - elsif @conversation.type == "SingleConversation"
            - @name = @conversation.users.where.not(id: current_user.id).first.full_name
          %h5= @conversation.type == "GroupConversation" ? @conversation.name : @name
        .card-body
          .col-12
            - if (messages = @conversation.messages.includes(:user)).present?
              - messages.each do |message|
                - if current_user.id === message.user.id
                  = render partial: "partials/my-message", locals: {message: message}
                - else
                  = render partial: "partials/message", locals: {message: message}
            - else
              .row
                .alert.alert-info.w-100.d-flex.justify-content-center
                  No messages yet.
        .card-footer
          = form_with model: @message, url: conversation_messages_path(@conversation) do |form|
            .row
              .col-9
                = form.text_area :body, class: "form-control", placeholder: "Say something...", rows: 3
                %small.text-muted Add photos/videos
                .custom-file
                  = form.file_field :attachments, multiple: true, accept: "image/*,video/*", class: "custom-file-input"
                  = form.label :attachments, class: "custom-file-label" do
                    No attachment selected.
              .col-3.d-flex.align-items-center
                = button_tag type: "submit", class: "btn btn-outline-danger btn-block h-75" do
                  %h2
                    = icon("fas", "paper-plane")
