- @title = "Your Conversations"
.container-fluid
  .row
    .col-4
      .row
        = render partial: "conversations/searchbar-conversation"
      .row.my-3
        .col-12
          = render partial: "partials/conversations", locals: {conversations: @conversations}
    .col-8
      .card#conversation{data: {"conversation-id": @conversation.id, "me": current_user.id}}
        .card-header.d-flex.justify-content-center
          - if @conversation.type == "SelfConversation"
            - @name = current_user.full_name + " (You)"
          - elsif @conversation.type == "SingleConversation"
            - @name = @conversation.users.where.not(id: current_user.id).first.full_name
          %h5= @conversation.type == "GroupConversation" ? @conversation.name : @name
        .card-body
          .col-12
            - if (messages = @conversation.messages.includes(:user)).present?
              - prev_msg = nil
              - messages.each do |message|
                - if prev_msg.present?
                  - if ((message.created_at - prev_msg.created_at) / 1.hour).round >= 2
                    = render partial: "conversations/timestamp", locals: {message: message}
                - else
                  = render partial: "conversations/timestamp", locals: {message: message}
                - if current_user.id === message.user.id
                  = render partial: "partials/my-message", locals: {message: message}
                - else
                  = render partial: "partials/message", locals: {message: message}
                - prev_msg = message
            - else
              .row
                .alert.alert-info.w-100.d-flex.justify-content-center
                  No messages yet.
        .card-footer
          = form_with model: @message, url: conversation_messages_path(@conversation) do |form|
            .row
              = render partial: "messages/form", locals: {form: form}
