- if defined?(temp_user)
  .row.old
    %span.d-none{data: {sender: message.user.id}}
    .col-1
    .col-8
      - if message.body.present?
        .row
          .alert.alert-secondary{data: {toggle: "tooltip", placement: "right"}, title: message.created_at.strftime("%b %d, %l:%M %p")}
            = message.body
      - if message.attachments.present?
        .my-2
          - message.attachments.each do |attachment|
            - if attachment.content_type.starts_with?("image/")
              = image_tag attachment, class: "img-thumbnail", data: {toggle: "tooltip", placement: "right"}, title: message.created_at.strftime("%b %d, %l:%M %p")
            - elsif attachment.content_type.starts_with?("video/")
              .embed-responsive.embed-responsive-16by9
                = video_tag(url_for(attachment), class: "embed-responsive-item", controls: "", data: {toggle: "tooltip", placement: "right"}, title: message.created_at.strftime("%b %d, %l:%M %p"))
  .row.new
    %span.d-none{data: {sender: message.user.id}}
    .col-1
      - if message.user.profile_avatar.attached?
        = image_tag message.user.profile_avatar, class: "rounded-circle mr-1", size:"40x40"
      - else
        = image_tag "profile_avatars/default.png", class: "rounded-circle mr-1", size:"40x40"
    .col-8
      .row
        %small.text-muted= message.user.full_name
      - if message.body.present?
        .row
          .alert.alert-secondary{data: {toggle: "tooltip", placement: "right"}, title: message.created_at.strftime("%b %d, %l:%M %p")}
            = message.body
      - if message.attachments.present?
        .my-2
          - message.attachments.each do |attachment|
            - if attachment.content_type.starts_with?("image/")
              = image_tag attachment, class: "img-thumbnail", data: {toggle: "tooltip", placement: "right"}, title: message.created_at.strftime("%b %d, %l:%M %p")
            - elsif attachment.content_type.starts_with?("video/")
              .embed-responsive.embed-responsive-16by9
                = video_tag(url_for(attachment), class: "embed-responsive-item", controls: "", data: {toggle: "tooltip", placement: "right"}, title: message.created_at.strftime("%b %d, %l:%M %p"))
- else
  - if session[:temp_user_id].present? && message.user.id === session[:temp_user_id]
    .row
      %span.d-none{data: {sender: message.user.id}}
      .col-1
      .col-8
        - if message.body.present?
          .row
            .alert.alert-secondary{data: {toggle: "tooltip", placement: "right"}, title: message.created_at.strftime("%b %d, %l:%M %p")}
              = message.body
        - if message.attachments.present?
          .my-2
            - message.attachments.each do |attachment|
              - if attachment.content_type.starts_with?("image/")
                = image_tag attachment, class: "img-thumbnail", data: {toggle: "tooltip", placement: "right"}, title: message.created_at.strftime("%b %d, %l:%M %p")
              - elsif attachment.content_type.starts_with?("video/")
                .embed-responsive.embed-responsive-16by9
                  = video_tag(url_for(attachment), class: "embed-responsive-item", controls: "", data: {toggle: "tooltip", placement: "right"}, title: message.created_at.strftime("%b %d, %l:%M %p"))
  - else
    - session[:temp_user_id] = message.user.id
    .row
      %span.d-none{data: {sender: message.user.id}}
      .col-1
        - if message.user.profile_avatar.attached?
          = image_tag message.user.profile_avatar, class: "rounded-circle mr-1", size:"40x40"
        - else
          = image_tag "profile_avatars/default.png", class: "rounded-circle mr-1", size:"40x40"
      .col-8
        .row
          %small.text-muted= message.user.full_name
        - if message.body.present?
          .row
            .alert.alert-secondary{data: {toggle: "tooltip", placement: "right"}, title: message.created_at.strftime("%b %d, %l:%M %p")}
              = message.body
        - if message.attachments.present?
          .my-2
            - message.attachments.each do |attachment|
              - if attachment.content_type.starts_with?("image/")
                = image_tag attachment, class: "img-thumbnail", data: {toggle: "tooltip", placement: "right"}, title: message.created_at.strftime("%b %d, %l:%M %p")
              - elsif attachment.content_type.starts_with?("video/")
                .embed-responsive.embed-responsive-16by9
                  = video_tag(url_for(attachment), class: "embed-responsive-item", controls: "", data: {toggle: "tooltip", placement: "right"}, title: message.created_at.strftime("%b %d, %l:%M %p"))
