<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-danger">
  <%= link_to posts_path, class: "navbar-brand" do %>
    <%= image_tag("logos/logo.png", height: 120) %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to posts_path, class: "nav-link" do %>
          <%= icon("fas", "home") %> Home
        <% end %>
      </li>
      <li class="nav-item">
        <% if session[:user_id] %>
          <%= link_to logout_path, class: "nav-link", method: :post do %>
            <%= icon("fas", "sign-out-alt") %> Logout
          <% end %>
        <% else %>
          <%= link_to login_path, class: "nav-link" do %>
            <%= icon("fas", "sign-in-alt") %> Login
          <% end %>
        <% end %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search by title" aria-label="Search">
      <button class="btn btn-dark my-2 my-sm-0" type="submit"><%= icon("fas", "search") %></button>
    </form>
  </div>
</nav>