<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-danger">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("logos/logo.png", height: 120) %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to posts_path, class: "nav-link text-white" do %>
          <%= icon("fas", "home") %> Home
        <% end %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Search by title" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-dark my-2 my-sm-0" type="submit"><%= icon("fas", "search") %></button>
        </div>
      </div>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <% if logged_in? %>
            <a class="nav-link text-white dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= icon("fas", "user") + "  " + @current_user.first_name %>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to logout_path, class: "dropdown-item", method: :post do %>
                <%= icon("fas", "sign-out-alt") %> Logout
              <% end %>
            </div>
        <% else %>
          <%= link_to login_path, class: "nav-link text-white" do %>
            <%= icon("fas", "sign-in-alt") %> Login
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>