<div class="card mb-4">
	<div class="card-body">
		<h4 class="card-title mb-1"><%= post.title %></h4>
		<%= link_to user_path(post.user) do %>
			<h6 class="card-subtitle mb-2 badge badge-pill badge-danger">
				<%= post.user.full_name %>
			</h6>
		<% end %>
		<hr>
		<p class="card-text mb-1">
			<%= simple_format(truncate(post.body, length: 100)) %>
		</p>
	</div>
	<div class="card-footer">
		<%= link_to("Read more...", post_path(post) , class: "btn btn-outline-dark") %>
		<small class="text-muted float-right"><%= post.created_at.strftime("%B %d, %Y | %A, %l:%M %p") %></small>
	</div>
</div>