<div class="card mb-4">
	<div class="card-body">
		<h6 class="card-title mb-4">
			<% user = post.user %>
			<% if user.profile_avatar.attached? %>
				<%= image_tag user.profile_avatar, class: "rounded-circle float-left mr-2", size:"40x40" %>
			<% else %>
				<%= image_tag "profile_avatars/default.png", class: "rounded-circle float-left mr-2", size:"40x40" %>
			<% end %>
			<%= link_to user_path(user), class: "profile-link font-weight-bold" do %>
				<%= user.full_name %>
			<% end %>
			<p>
				<small class="text-muted"><%= time_ago_in_words(post.created_at) + " ago" %></small>
			</p>
		</h6>
		<div class="d-flex justify-content-center">
			<h6 class="font-weight-bold"><%= post.title %></h6>
		</div>
		<hr>
		<p class="card-text mb-1">
			<%= simple_format(truncate(post.body, length: 100)) %>
		</p>
		<% if post.first_image.present? %>
			<%= image_tag post.first_image, class: "img-thumbnail" %>
		<% end %>
	</div>
	<div class="card-footer">
		<%= link_to("Read more...", post_path(post) , class: "btn btn-outline-dark float-right") %>
	</div>
</div>