<% @title = "Register" %>

<div class="card-body">
	<%= form_with scope: :user, url: sign_up_path, model: @user, class: "form-signin form-horizontal needs-validation", html: {novalidate: true}, local: true do |form| %>
		<div class="d-flex justify-content-center"><%= image_tag "logos/logo.png", class: "align-self-center" %></div>
		<p id="profile-name" class="profile-name-card">Sign up now!</p>
		<span id="reauth-email" class="reauth-email"></span>
		<div class="form-group">
			<div class="row">
				<div class="col-6">
					<%= form.text_field :first_name, class: "form-control #{ @user.errors.include?(:first_name) ? 'is-invalid' : '' }", placeholder: "First name", required: true, autofocus: true %>
					<% if @user.errors.include?(:first_name) %>
						<div class="invalid-feedback">
							<%= @user.errors[:first_name].join(", ").capitalize %>
						</div>
					<% end %>
				</div>
				<div class="col-6">
					<%= form.text_field :last_name, class: "form-control #{ @user.errors.include?(:last_name) ? 'is-invalid' : '' }", placeholder: "Last name", required: true %>
					<% if @user.errors.include?(:last_name) %>
						<div class="invalid-feedback">
							<%= @user.errors[:last_name].join(", ").capitalize %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="form-group">
			<%= form.email_field :email, class: "form-control #{ @user.errors.include?(:email) ? 'is-invalid' : '' }", placeholder: "Email address", id: "inputEmail", required: true %>
			<% if @user.errors.include?(:email) %>
				<div class="invalid-feedback">
					<%= @user.errors[:email].join(", ").capitalize %>
				</div>
			<% end %>
		</div>
		<div class="form-group">
			<%= form.password_field :password, class: "form-control #{ @user.errors.include?(:password) ? 'is-invalid' : ''}", placeholder: "Password", id: "inputPassword", required: true %>
			<% if @user.errors.include?(:password) %>
				<div class="invalid-feedback">
					<%= @user.errors[:password].join(", ").capitalize %>
				</div>
			<% end %>
		</div>
		<div class="form-group">
			<%= form.password_field :password_confirmation, class: "form-control #{ @user.errors.include?(:password_confirmation) ? 'is-invalid' : ''}", placeholder: "Confirm Password", required: true %>
			<% if @user.errors.include?(:password_confirmation) %>
				<div class="invalid-feedback">
					<%= @user.errors[:password_confirmation].join(", ").capitalize %>
				</div>
			<% end %>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<%= form.submit "Create account", class: "btn btn-lg btn-primary btn-block btn-signin" %>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<%= link_to "Back", login_path , class: "btn btn-block btn-secondary" %>
				</div>
			</div>
		</div>
	<% end %>
</div>