<% @title = "All Posts" %>

<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="twitter-card">
				<header>
					<div class="bio">
						<% if @user.profile_banner.attached? %>
							<%= image_tag @user.profile_banner, class: "bg", width: "100%" %>
						<% else %>
							<%= image_tag "profile_banners/default.jpg", class: "bg", width: "100%" %>
						<% end %>
						<div class="desc">
							<p>Email:</p>
							<h6><%= @user.email %></h6>
						</div>
					</div>
					<div class="avatarcontainer">
						<% if @user.profile_avatar.attached? %>
							<%= image_tag @user.profile_avatar, class: "avatar" %>
						<% else %>
							<%= image_tag "profile_avatars/default.png", class: "avatar" %>
						<% end %>
					</div>
				</header>
				<div class="content">
					<div class="data">
						<ul>
							<li>
								<%= @posts.length %>
								<span>Posts</span>
							</li>
							<li><%= @user.full_name %></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-8">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#posts">Posts</a>
				</li>
				<% if logged_in? %>
					<% if @current_user.id == @user.id %>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" id="createTab" href="#create">Create a post</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" id="editProfileDetailsTab" href="#editProfileDetails">Edit Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" id="editProfilePhotosTab" href="#editProfilePhotos">Edit Profile Photos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" id="editProfilePasswordTab" href="#editProfilePassword">Edit Password</a>
						</li>
					<% end %>
				<% end %>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane container active" id="posts">
					<%= render partial: "partials/posts", locals: { posts: @posts } %>
				</div>
				<div class="tab-pane container fade" id="create">
					<%= form_with scope: :post, model: @post, url: user_posts_path(@user), class: 'form-horizontal needs-validation', html: {novalidate: true}, local: true do |form| %>
						<div class="form-group">
							<%= form.text_field :title, :class => "form-control #{ @post.errors.include?(:title) ? 'is-invalid' : ''}", :placeholder => 'Title of your post', maxlength: 50 %>
							<% if @post.errors.include?(:title) %>
								<div class="invalid-feedback">
									<%= @post.errors[:title].join(", ").capitalize %>
								</div>
							<% end %>
						</div>
						<div class="form-group">
							<%= form.text_area :body, :class => "form-control #{ @post.errors.include?(:body) ? 'is-invalid' : ''}", :placeholder => 'Say something here!', :rows => 9 %>
							<% if @post.errors.include?(:body) %>
								<div class="invalid-feedback">
									<%= @post.errors[:body].join(", ").capitalize %>
								</div>
							<% end %>
						</div>
						<hr>
						<div class="form-group">
							<%= form.submit "Post", :class => 'btn btn-danger' %>
						</div>
					<% end %>
				</div>
				<div class="tab-pane container fade" id="editProfileDetails">
					<%= form_with scope: :user, model: @user, class: 'form-horizontal needs-validation', html: {novalidate: true}, local: true do |form| %>
						<div class="form-group">
							<div class="row">
								<div class="col-6">
									<%= form.label :first_name %>
									<%= form.text_field :first_name, class: "form-control #{ @user.errors.include?(:first_name) ? 'is-invalid' : '' }", placeholder: "First name", required: true, autofocus: true %>
									<% if @user.errors.include?(:first_name) %>
										<div class="invalid-feedback">
											<%= @user.errors[:first_name].join(", ").capitalize %>
										</div>
									<% end %>
								</div>
								<div class="col-6">
									<%= form.label :last_name %>
									<%= form.text_field :last_name, class: "form-control #{ @user.errors.include?(:last_name) ? 'is-invalid' : '' }", placeholder: "Last name", required: true %>
									<% if @user.errors.include?(:last_name) %>
										<div class="invalid-feedback">
											<%= @user.errors[:last_name].join(", ").capitalize %>
										</div>
									<% end %>
								</div>
							</div>
						</div>
						<div class="form-group">
							<%= form.label :email %>
							<%= form.email_field :email, class: "form-control #{ @user.errors.include?(:email) ? 'is-invalid' : '' }", placeholder: "Email address", id: "inputEmail", required: true %>
							<% if @user.errors.include?(:email) %>
								<div class="invalid-feedback">
									<%= @user.errors[:email].join(", ").capitalize %>
								</div>
							<% end %>
						</div>
						<hr>
						<div class="form-group">
							<%= form.label "Enter password to confirm" %>
							<%= form.password_field :password, class: "form-control #{ flash[:error_user_details].present? ? 'is-invalid' : ''}", placeholder: "Your password", required: true %>
							<% if flash[:error_user_details].present? %>
								<div class="invalid-feedback">
									<%= flash[:error_user_details] %>
								</div>
							<% end %>
						</div>
						<div class="form-group">
							<%= form.submit "Update profile", class: "btn btn-danger" %>
						</div>
					<% end %>
				</div>
				<div class="tab-pane container fade" id="editProfilePhotos">
					<%= form_with scope: :user, model: @user, url: update_photo_avatar_user_path(@user), class: 'form-horizontal needs-validation', html: {novalidate: true}, local: true do |form| %>
						<div class="form-group">
							<%= form.label :profile_avatar %>
							<%= form.hidden_field :profile_avatar %>
							<%= form.file_field :profile_avatar, class: "form-control #{ @user.errors.include?(:profile_avatar) ? 'is-invalid' : '' }",required: true %>
							<% if @user.errors.include?(:profile_avatar) %>
								<div class="invalid-feedback">
									<%= @user.errors[:profile_avatar].join(", ").capitalize %>
								</div>
							<% end %>
						</div>
						<div class="form-group">
							<%= form.label "Enter password to confirm" %>
							<%= form.password_field :password, class: "form-control #{ @user.errors.include?(:password) || flash[:error_user_avatar].present? ? 'is-invalid' : ''}", placeholder: "Your password", required: true %>
							<% if @user.errors.include?(:password) || flash[:error_user_avatar].present? %>
								<div class="invalid-feedback">
									<%= flash[:error_user_avatar] %>
								</div>
							<% end %>
						</div>
						<div class="form-group">
							<%= form.submit "Update avatar", class: "btn btn-danger" %>
						</div>
					<% end %>
					<hr>
					<%= form_with scope: :user, model: @user, url: update_photo_banner_user_path(@user), class: 'form-horizontal needs-validation', html: {novalidate: true}, local: true do |form| %>
						<div class="form-group">
							<%= form.label :profile_banner %>
							<%= form.hidden_field :profile_banner %>
							<%= form.file_field :profile_banner, class: "form-control #{ @user.errors.include?(:profile_banner) ? 'is-invalid' : '' }",required: true %>
							<% if @user.errors.include?(:profile_banner) %>
								<div class="invalid-feedback">
									<%= @user.errors[:profile_banner].join(", ").capitalize %>
								</div>
							<% end %>
						</div>
						<div class="form-group">
							<%= form.label "Enter password to confirm" %>
							<%= form.password_field :password, class: "form-control #{ @user.errors.include?(:password) || flash[:error_user_banner].present? ? 'is-invalid' : ''}", placeholder: "Your password", required: true %>
							<% if @user.errors.include?(:password) || flash[:error_user_banner].present? %>
								<div class="invalid-feedback">
									<%= flash[:error_user_banner] %>
								</div>
							<% end %>
						</div>
						<div class="form-group">
							<%= form.submit "Update banner", class: "btn btn-danger" %>
						</div>
					<% end %>
				</div>
				<div class="tab-pane container fade" id="editProfilePassword">
					<%= form_with scope: :user, model: @user, url: update_password_user_path(@user), class: 'form-horizontal needs-validation', html: {novalidate: true}, local: true do |form| %>
						<div class="form-group">
							<%= form.label "Current Password" %>
							<%= form.password_field :old_password, class: "form-control #{ @user.errors.include?(:old_password) || flash[:error_user_password].present? ? 'is-invalid' : ''}", placeholder: "Your current password", required: true %>
							<% if @user.errors.include?(:old_password) || flash[:error_user_password].present? %>
								<div class="invalid-feedback">
									<%= flash[:error_user_password] %>
								</div>
							<% end %>
						</div>
						<div class="form-group">
							<%= form.label "New Password" %>
							<%= form.password_field :password, class: "form-control #{ @user.errors.include?(:password) || flash[:error_user_password].present? ? 'is-invalid' : ''}", placeholder: "Your new password", required: true %>
							<% if @user.errors.include?(:password) || flash[:error_user_password].present? %>
								<div class="invalid-feedback">
									<%= flash[:error_user_password] %>
								</div>
							<% end %>
						</div>
						<div class="form-group">
							<%= form.label "Confirm new password" %>
							<%= form.password_field :password_confirmation, class: "form-control #{ @user.errors.include?(:password_confirmation) || flash[:error_user_password].present? ? 'is-invalid' : ''}", placeholder: "Confirm new password", required: true %>
							<% if @user.errors.include?(:password_confirmation) || flash[:error_user_password].present? %>
								<div class="invalid-feedback">
									<%= flash[:error_user_password] %>
								</div>
							<% end %>
						</div>
						<div class="form-group">
							<%= form.submit "Update password", class: "btn btn-danger" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<% if flash[:error_user_post].present? %>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#createTab").tab('show');
		});
	</script>
<% elsif flash[:error_user_details].present? %>
	<script>
		$(document).ready(function() {
			$("#editProfileDetailsTab").tab('show');
		});
	</script>
<% elsif @user.errors.include?(:password) && (flash[:error_user_avatar].present? || flash[:error_user_banner].present?) %>
	<script>
		$(document).ready(function() {
			$("#editProfilePhotosTab").tab('show');
		});
	</script>
<% elsif @user.errors.include?(:password) || flash[:error_user_password].present? %>
	<script>
		$(document).ready(function() {
			$("#editProfilePasswordTab").tab('show');
		});
	</script>
<% end %>