<% @title = "Editing " + @post.title %>

<div class="container">
	<%= form_with scope: :post, model: @post, local: true do |p| %>
		<div class="row">
			<div class="col-12">
				<div class="list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1"><%= :title %></h5>
						<small class="text-muted"><%= @post.created_at.strftime("%B %d, %Y | %A, %l:%M %p") %></small>
					</div>
					<small class="text-muted">by <%= @post.user.name %> <%= @post.created_at === @post.updated_at ? "" : "(Last update: " + @post.created_at.strftime("%B %d, %Y | %l:%M %p") + ")" %></small>
					<div class="float-right">
						<%= p.button type: "submit", class: "btn btn-primary" do %>
							<%= icon("fas", "check") %>
						<% end %>
						<%= link_to @post, class: "btn btn-danger" do %>
							<%= icon("fas", "times") %>
						<% end %>
					</div>
					<hr class="mt-4 mb-4">
					<p class="mb-1">
						<%= p.text_area :body, rows: 10, class: "form-control", placeholder: "Say something..." %>
					</p>
				</div>
			</div>
		</div>
	<% end %>
</div>