<% @title = "All Posts" %>

<div class="container-fluid">
	<div class="row">
		<div class="col-4">
			<% if logged_in? %>
				<%= form_with scope: :post, model: @post, class: 'form-horizontal needs-validation', html: {novalidate: true}, local: true do |form| %>
					<div class="card">
						<div class="card-header">
							<h6>What's on your mind <%= @current_user.first_name %>?</h6>
						</div>
						<div class="card-body">
							<%= form.text_field :title, :class => "form-control #{ @post.errors.include?(:title) ? 'is-invalid' : ''}", :placeholder => 'Title of your post', maxlength: 50 %>
							<% if @post.errors.include?(:title) %>
								<div class="invalid-feedback">
									<%= @post.errors[:title].join(", ").capitalize %>
								</div>
							<% end %>
							<hr>
							<%= form.text_area :body, :class => "form-control #{ @post.errors.include?(:body) ? 'is-invalid' : ''}", :placeholder => 'Say something here!', :rows => 9 %>
							<% if @post.errors.include?(:body) %>
								<div class="invalid-feedback">
									<%= @post.errors[:body].join(", ").capitalize %>
								</div>
							<% end %>
						</div>
						<div class="card-footer">
							<%= form.submit "Post", :class => 'btn btn-danger float-right' %>
						</div>
					</div>
				<% end %>
			<% else %>
				<div class="card">
					<h4 class="card-header">Post stories to your hearts content.</h4>
					<div class="card-body">
						<p class="card-text">
							In Rails-Blog, you can post your lengthy articles in just one click! Just log in and you can join other bloggers in disrupting digital media.
						</p>
					</div>
					<div class="card-footer">
			          <%= link_to login_path, class: "btn btn-danger" do %>
			            <%= icon("fas", "sign-in-alt") %> Login
			          <% end %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-8">
			<%= render partial: "partials/posts", locals: {posts: @posts} %>
		</div>
	</div>
</div>