<% @title = @post.title %>

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<%= render partial: "partials/show-post-profile", locals: {post_created_at: @post.created_at, user: @post.user} %>
					<div>
						<p>
							<small class="text-muted"><%= @post.created_at === @post.updated_at ? "" : "(Last update: " + @post.updated_at.strftime("%B %d, %Y | %A, %l:%M %p") + ")" %></small>
						</p>
						<% if logged_in? %>
							<% if @current_user.id === @post.user_id %>
								<div class="float-right">
									<%= link_to icon('fas', 'edit'), edit_post_path(@post), class: "btn btn-outline-danger mr-4" %>
									<button type="button" class="btn btn-outline-dark float-right" data-toggle="modal" data-target="#deleteModal"><%= icon('far', 'trash-alt') %></button>
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
				<hr class="mt-2 mb-4">
				<div class="d-flex justify-content-center mb-4">
					<h3><%= @post.title %></h3>
				</div>
				<p class="mb-1">
					<%= simple_format(h(@post.body)) %>
				</p>
				<% if @images.present? %>
					<% @images.each do |image| %>
						<%= image_tag image, class: "img-thumbnail m-2" %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row my-4">
		<div class="col-10">
			<% if logged_in? %>
				<%= form_with scope: :comment, model: @comment, url: post_comments_path(@post), local: true do |form| %>
					<div class="card mb-4">
						<div class="card-body">
							<div class="form-group">
								<%= form.text_area :body, class: "form-control #{ @comment.errors.include?(:body) ? 'is-invalid' : '' }", placeholder: "What are your thoughts for this post?", required: true, rows: 5 %>
								<% if @comment.errors.include?(:body) %>
									<div class="invalid-feedback">
										<%= @comment.errors[:body].join(", ").capitalize %>
									</div>
								<% end %>
							</div>
							<div class="form-group">
								<small class="text-muted">Add photos</small>
								<div class="custom-file">
									<%= form.file_field :images, multiple: true, class: "custom-file-input #{ @comment.errors.include?(:images) ? 'is-invalid' : '' }" %>
									<%= form.label :images, class: "custom-file-label" do %>
										No photo(s) selected.
									<% end %>
									<% if @comment.errors.include?(:images) %>
										<div class="invalid-feedback">
											<%= @comment.errors[:images].join(", ").capitalize %>
										</div>
									<% end %>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<%= form.submit "Reply", class: "btn btn-danger" %>
						</div>
					</div>
				<% end %>
			<% else %>
				<div class="form-group">
					<div class="card">
						<div class="card-body">
							<h6><%= link_to "Log in", login_path %> to comment on this post!</h6>
						</div>
					</div>
				</div>
			<% end %>
			<h6 class="font-weight-bold">All comments</h6>
			<hr>
			<div class="list-group">
				<% unless @post.comments.empty? %>
					<%= render partial: "partials/comment", collection: @post.comments, locals: {post: @post} %>
				<% else %>
					<div class="alert alert-info">No comments yet. Be the first to comment!</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this post?
      </div>
      <div class="modal-footer">
		<%= form_with model: @post, method: :delete, class: 'form-horizontal', local: true do |p| %>
	        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
	        <%= p.submit "Delete Post", class: "btn btn-danger" %>
	    <% end %>
      </div>
    </div>
  </div>
</div>