<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Blog Site" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "partials/flash-message" %>
    <%= render partial: "partials/nav" %>
    <%= yield %>
  </body>
</html>
